<h2>this is the page where I will be able to add new products to the array of products in my shop</h2>


<input type="text" data-ng-model="product.name">
<textarea data-ng-model="product.snippet"></textarea>
<textarea data-ng-model="product.description"></textarea>
<textarea data-ng-model="product.price"></textarea>
<textarea data-ng-model="product.thumb"></textarea>
<textarea data-ng-model="product.large"></textarea>

<button data-ng-click="newProduct(product)">Create</button>

<!-- not sure where I will want to edit and update them -->

//.. edit etc the products in the store




