<h2>this is the page where I will be able to add new products to the array of products in my shop</h2>

<h1> i gotta make all this look real nice </h1>


<input type="text" data-ng-model="product.name">
<textarea data-ng-model="product.snippet" placeholder"Product snippet here"></textarea>
<textarea data-ng-model="product.description" placeholder"Full product description here"></textarea>
<textarea data-ng-model="product.price" placeholder"Product price"></textarea>
<textarea data-ng-model="product.thumb" placeholder"Product thumbnail link here"></textarea>
<textarea data-ng-model="product.large" placeholder"Product large view pic link"></textarea>

<button data-ng-click="newProduct(product)">Create</button>

<!-- not sure where I will want to edit and update them -->

//.. edit etc the products in the store




