<div>
 <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/shop">Shop</a></li>
    <li><a ng-href="#/cart">Cart</a></li>
  </ul> 
 </div>
 <br>
<h2>Directions:</h2><p>Please use this form to edit or update your blog post.</p>
<div class="updateblog">
	<ul>
		<li><input type="text" data-ng-model="post.title" value="{{post.title}}"></li>
		<li><textarea type="text" data-ng-model="post.content" value="{{post.content}}"></textarea></li>
		<li><input type="text" data-ng-model="post.thumb" value="{{post.thumb}}"></li>
	</ul>
	<button data-ng-click="edit()">Update Post</button>
</div>