<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
     <li><a ng-href="#/shop">Blog</a></li>
   
  </ul>
  <h3 class="text-muted">ShopNg</h3>
</div>

<div class="jumbotron">
  <h1>We are shopNg now</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/blog">Go to blog!</a></p>
</div>

<div class="jumbotron">
  <h1>Forget reading- lets go shopping</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/shop">Lets shop this out!</a></p>
</div>

<div class="jumbotron">
  <h1>Admin only!!!</h1>
  <p><a class="btn btn-lg btn-success" ng-href="#/admin">Admin login</a></p>
</div>

