<div>
 <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li class="active"><a ng-href="#/shop">Shop</a></li>
    <li><a ng-href="#/cart">Cart</a></li>
  </ul> 
</div>
<br>

  	<h2>{{product.name}} : {{product.price | currency: symbol}}</h2>
  		<p>{{product.description}}</p>
      <p>{{product.snippet}}</p>
      <a href="#/shop/{{product._id}}/edit">Edit</a> | <a ng-click="delete()">Delete</a>
    <div class='thumb'><img ng-src="{{product.large1}}"></img></div>
    <a ng-click="toggle()">See More</a> | <a ng-href="#/shop">Back to Shop</a>

  <div class="imagecarousel" ng-show="isVisible">
    <div>
      <carousel interval='4000'>
        <slide class="active">
          <img ng-src="{{product.large1}}" style="margin:auto;">
        </slide>
        <slide>
          <img ng-src="{{product.large2}}" style="margin:auto;">
        </slide>
        <slide>
          <img ng-src="{{product.large3}}" style="margin:auto;">
        </slide>
      </carousel>
    </div> 
  </div>




