<div>
 <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li class="active"><a ng-href="#/shop">Shop</a></li>
  </ul> 
 </div>
<h1>Welcome to my SHOPPY</h1>

<section data-ng-repeat="product in products">
	<h2>{{product.name}}</h2>
	<p>{{product.snippet}}</p>
	<p>{{product.thumb}}</p>
	<p>{{product.price}}</p>
	<a href="#/shop/{{product._id}}">view more</a>
</section>
<hr>
<div>
	<h3>ADMIN ONLY</h3>
<button data-ng-click="createProduct()">Create New Product</button>
</div>