<div>
 <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/shop">Shop</a></li>
    <li><a ng-href="#/cart">Cart</a></li>
  </ul> 
 </div>

<h3> Use this view to update the product listing</h3>

<ul>
	<li><input type="text" data-ng-model="product.name" value="{{product.name}}"></input></li>
<li><textarea data-ng-model="product.snippet" value="{{product.snippet}}"></textarea></li>
<li><textarea data-ng-model="product.description" value="{{product.description}}"></textarea></li>
<li><textarea data-ng-model="product.price" value="{{product.price}}"></textarea></li>
<li><textarea data-ng-model="product.thumb" value="{{product.thumb}}"></textarea></li>
<li><textarea data-ng-model="product.large1" value="{{product.large1}}"></textarea></li>
<li><textarea data-ng-model="product.large2" value="{{product.large2}}"></textarea></li>
<li><textarea data-ng-model="product.large3" value="{{product.large3}}"></textarea></li>

<button data-ng-click="edit()">Update Product</button>
<ul>