body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.adminform {
	list-style: none;
}

p {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
}

h3 {
	font-family: 'Poiret One', cursive;
}

.shopfront {
	list-style: none;
}

.posts li {
	list-style: none;
}


